.toggle > Text{
	-fx-fill:#AAAAAA;
	-fx-font-size:20;
	-fx-translate-y:40;
}
.toggle > .background{
	-fx-scale-shape:false;
    -fx-background-color:white;
    -fx-shape: "M 0,50.25 v 50.25 C 0,150.75 60,150.75 60,100.5 v -50.35 C 60,0 0,0 0,50.25 z";
	-fx-effect:dropshadow(gaussian, #DDDDDD, 5, 0, 0, 0);
}
.toggle > .track {
 	-fx-translate-y:-16;
    -fx-scale-shape: false;
    -fx-background-color:#DDDDDD;
    -fx-shape: "M 0,33.5 v 33.5 C 0,100.5 50,100.5 50,67 v -33.5 C 50,0 0,0 0,33.5 z";
    -fx-effect: innershadow( three-pass-box , #333333, 8, 0 , 0 , 0 );

	
    /* Original path with scaler
    -fx-scale-y:0.67;
    -fx-shape: "M 0,50 v 50 C 0,150 50,150 50,100 v -50 C 50,0 0,0 0,50 z";*/
}

.toggle > .track > .thumb{
    -fx-scale-shape: false;
    -fx-translate-y: 16;
	-fx-background-color: white;
    -fx-shape: "M 0,30 C 0,60 45,60 45,30 C 45,0 0,0 0,30 z";
}
.toggle > .track > #off.icon{
	-fx-scale-shape:false;
	-fx-background-color:#CCCCCC;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0, 0.7 ) , 2, S0.0 , 0 , 0 );
	-fx-translate-y: -18;
	-fx-shape:"M 26,0 C26,-15 36,-15 36,0 v14 C36,29 26,29 26,14 v-14 z";
}
.toggle > .track > #on.icon{
	-fx-scale-shape:false;
	-fx-background-color:#11FF11;
	-fx-effect:dropshadow(gaussian, #11FF11, 20, 0, 0, 0);
	-fx-translate-y: 18;
	-fx-shape:"M 0,8 C0,20 16,20 16,8 C16,-4 0,-4 0,8 z";
}